*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: black;
}

.container{
    max-width: 450px;
    min-width: 400px;
    background: #22C1C3;
    background: linear-gradient(221deg, rgba(34, 193, 195, 1) 0%, rgba(255, 174, 0, 1) 100%);
    margin: 2rem auto;
    padding: 40px 35px;
    border-radius: 20px;
    text-align: center;
    color: white;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.search input{
    width: 70%;
    padding: 20px;
    border-radius: 50px;
    outline: none;
    border: none;
    font-size: 1rem;
}

.search .bt{
    border: none;
    background-color: white;
    outline: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.search .bt img{
    width: 20px;
}

.error{
    display: none;
    text-align: center;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: whitesmoke;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 50px;
    margin-right: 1rem;
}

.humidity, .wind{
    font-size: 28px;
}

.weather{
    display: none;
}