*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: black;
}

.container{
    height: 100vh;
    max-width: 450px;
    min-width: 300px;
    background: #ff3b93;
    background: linear-gradient(143deg, rgba(255, 59, 147, 1) 42%, rgba(0, 75, 166, 1) 63%);
    margin: 10px auto;
    padding: 40px 35px;
    border-radius: 20px;
    text-align: center;
    color: white;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.search input{
    width: 70%;
    padding: 20px;
    border-radius: 50px;
    outline: none;
    border: none;
    font-size: 1rem;
}

.search .bt{
    border: none;
    outline: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search .bt img{
    width: 1rem;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 50px;
    margin-right: 1rem;
}

.humidity, .wind{
    font-size: 28px;
}